/*
Theme Name: assignment2
Author: Alex Ten
Author URI: https://google.com/
Description: this theme is based on Bootstrap
Version: 1.0
License: No license
Use it to make something cool, have fun, and share what you've learned with others.
*/




body {
	padding: 0;
	margin: 0;
	background-color: #fff;
	font-size: 16px;
	line-height: 140%;
}


#util_nav {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	text-align: right;
}

#util_nav #util .menu {
	color: #000;
}


/*utility navigation*/
.main #util_nav #util a,
.main #util_nav .menu-utility_assign2-container,
.page-template-default #util_nav #util a,
.page-template-default #util_nav .menu-utility_assign2-container {
	display: inline-block;
	color: #000;
	text-decoration: underline;
	margin-left: 5px;
}




/* BLOCK LAYOUT
------------------------------------------------------------- */

/* HOME PAGE */

.container {
	width: 100%;
	max-width: 1000px;
	margin: 20px auto;
	padding: 0;
	box-shadow: 0px 5px 15px #666;
	margin-top: 10px;
}

header.main {
	width: 100%;
	position: relative;
}

header.main img.img_head {
	width: 100%;
	height: auto;
}


#content {
	float: left;
	min-height: 200px;
	padding: 0;
	background-color: #FFF;
}

footer.main {
	padding: 10px 0;
	text-align: center;
	line-height: 30px;
	font-size: 80%;
	background-color: #0a7189;
	color: #FFF;
	margin-bottom: 5px;
	position: relative;
}

.site_title  {
	position: absolute;
	bottom: 30px;
	left: 30px;
	padding: 0px;
	line-height: 200px;
	color: #FFF;
	font-size: 30px;
	font-weight: 700;
	display: block;
	width: 150px;
	height: 81px;
	background-image: url('images/logo.png');
	background-repeat: no-repeate;
	text-indent: -9999px;
}

div#featured {
	display: relative;
	padding: 0;
	min-height: 200px;
	padding: 0;
	padding: 0;
}

div#featured img {
	width: 100%;
	height: auto;
}

div.callout {
	display: relative;
	padding: 0;
	padding-bottom: 30px;
}

div.callout div img {
	width: 100%;
	height: auto;
}

div.caption {
	position: absolute;
	bottom: 0;
	height: 50px;
	line-height: 50px;
	background-color: #0164AA;
	color: #fff;
	padding: 0;
	display: block;
	width: 100%;
}

div.callout > div {
	position: relative;
	overflow: hidden;
}

div.callout .caption {
	background: transparent;
}

div.callout .caption a {
	text-shadow: 1px 1px 1px #000;
}

div.caption a {
	color: #fff;
	line-height: 50px;
	margin-left: 10px;
}

div#primary {
	padding: 0;
	background-color: #FFF;
}

div#secondary {
	padding: 0;
	padding: 30px 0 0 0;
	background-color: #fff;
}


/*sidebar text alignment*/
div#secondary.col-sm-3 {
	text-align: center;
}



div#secondary .featured_title{
	margin-top: 20px;
	font-size: 20px;
	font-weight: 550;
}

.button_read_more {
	padding: 5px;
	background: #ff8f21;
	color: #fff;
	font-weight: 700;
}

#secondary span{
	float:right;
}

body.page-template-default div#secondary {
	background-color: #FFF;
	padding-top: 15px;
}

body.page-template-default div#primary {
	border-left: 1px solid #cfcfcf;
	padding: 15px 30px;
}

body.page-template-default  div.callout {
	padding-bottom: 15px;
}

table {
	border: 1px solid #cfcfcf;
}

.alignleft {
	float: left;
	padding: 0 15px 15px 0;
}

h1 {
	margin-bottom: 20px;
	color: #F99E2A;
}

h1 a {
	color: #F99E2A;
}

/* NAVIGATION
------------------------------------------------------------- */

#util_nav ul.menu {
	max-width: 1000px;
	padding: 0;
	padding-right: 20px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: right;
}

ul.menu {
	padding: 0;
	margin: 0;
}

ul.menu li {
	list-style-type: none;
}

ul.menu li {
	display: inline-block;
}

nav#main ul.menu li:last-child a{
	border-right: none;
	
}

a:hover, a:active {
	opacity: 0.7
}



/* MAIN NAV */

nav#main {
	width: 100%;
	color: #000;
	min-height: 50px;
	height: auto !important;
	background-color: #0a7189;
	display: none;
	padding-left: 0px;
}

nav#main ul.menu li {
	display: block;
}

nav#main a {
	display: block;
	line-height: 50px;
	color: #fff;
	text-decoration: none;
	padding: 0 30px;
	border-bottom: 1px solid #cfcfcf;

}

nav#main a:hover,
nav#main a:active,
nav#main li.current_page a {
	color: #0075CE;
	background: #4ab1ca;
	opacity: 1.0;
}

nav#main li {
	margin-right: -7px;
}

a.menu_toggle {
	display: block;
	width: 44px;
	height: 50px;
	position: absolute;
	right: 0px;
	bottom: 0px;
	background-image: url('images/menu-icon.png');
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#primary img {
	width: 100%;
	height: auto;
	margin: 25px 0;
}

/* FOOTER NAV */

/*footer image on the left*/
nav#footer #footer_dog_img{
	position: absolute;
	left: 30px;
}
 /*footer image on the right*/
nav#footer #footer_logo_img{
	position: absolute;
	right: 30px;
	top: 30px;
}


nav#footer ul {
	margin: 0 auto;
}

nav#footer ul a {
	color: #FFF;
	margin-left: 10px;
}

nav#footer ul a:hover {
	color: #ff8f21;
}



button, input[type=text], input[type=password], input[type=email], optgroup, select, textarea {
    width: 100%;
    max-width: 400px;
}

#primary #featured img {
	margin: 0;
}

@media screen and (min-width: 768px) {
	nav#main {
		display: block;
	}

	nav#main ul.menu li {
		display: inline-block;
	}

	nav#main a {
	  border-right: 1px solid #cfcfcf;
	}

	a.menu_toggle {
		display: none;
	}

	#primary img {
		width: auto;
		height: auto;
		margin: 15px; 0;
	}
	
	
	/*make sidebar to be on the left side*/
	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
		float: right;
	}
	

}
