/*
Theme Name: chopshop
*/


* {
  box-sizing: border-box;
}


body {
  font-family: Helvetica, Verdana, sans-serif;
}


.container {
  max-width: 1024px;
  margin: 0 auto;
}




/* START code to put text on image ------------------*/
#image {
  position: relative;
}
#site_title {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #fff;
  background: #000;
  font-size: 30px;
  text-shadow: 1px 1px #0f0;
  padding: 2px;
}
/* END code to put text on image ------------------*/




#banner {
  margin: 0 auto;
  max-width: 100%;
  text-align: center;
}


.main {
  float: left;
  width: 75%;
  padding: 20px;
  border-left: 1px solid #000;
}


.sidebar {
  float: left;
  width: 25%;
  padding: 10px;
}


body.page {
  background: #efefef;
}


body.page-template-tpl_pink {
  background: pink;
}


footer {
  clear: both;
  text-align: center;
  background: #27aee3;
  display: table;/*for vertical alignment*/
  height: 150px;/*for vertical alignment with min-height doesnt work in firefox, but works in chrome*/
  width: 100%;/*for vertical alignment*/
}

.footer {
  display: table-cell;/*for vertical alignment*/
  vertical-align: middle;/*for vertical alignment*/
}


footer ul li {
  list-style-type: none;
  display: inline-block;
  text-align: center;
  padding-left: 20px;
}









